.speedDial {
  position: fixed;
  right: 3vmax;
  top: 3vmax;
}

.speedDialIcon {
  width: 56px;
  height: 56px;
  border-radius: 100%;
}

.login-btn {
  position: absolute;
  background-color: rgb(209, 138, 6);
  color: white;
  top: 1rem;
  right: 2rem;
  padding: 0.7rem 1rem;
  letter-spacing: 0.1rem;
  box-sizing: border-box;
  border-radius: 0.5rem;
  cursor: pointer;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.login-btn a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}
.login-btn:hover {
  background-color: transparent;
  border: 1px solid rgb(209, 138, 6);
  color: rgb(209, 138, 6);
}
